# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock

# Other folders
.idea

# Environment files
.env*

# Artefacts
coverage/*
.failed_tracker
.flutter-plugins-dependencies
.flutter-plugins
.DS_Store
