name: supabase_codegen_packages
publish_to: none

environment:
  sdk: ^3.9.0
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter

workspace:
  - packages/supabase_codegen
  - packages/supabase_codegen_flutter
  - packages/supabase_codegen_serverpod

dev_dependencies:
  melos: ^7.3.0
  talker: ^5.1.0
  very_good_analysis: ^10.0.0

# Melos configuration
melos:
  scripts:
    test:
      run: |
        melos exec -c 4 --fail-fast -- \
          "very_good test"
      description: Run `very_good test` for a specific package.
      packageFilters:
        dirExists:
          - test

    test:coverage:
      run: |
        melos exec -c 4 --fail-fast -- \
          "very_good test --coverage && remove_from_coverage -f ./coverage/lcov.info -r '\.g\.dart$'"
      description: Run `very_good test` with coverage for a specific package.
      packageFilters:
        dirExists:
          - test

    coverage_badge:
      run: |
        melos exec -c 4 --fail-fast -- \
          "badge-test gen --in=./coverage/lcov.info --out=./coverage_badge.svg"
      description: Update the coverage badge for a specific package.
      packageFilters:
        dirExists:
          - coverage

    test:coverage_badge:
      run: |
        melos run test:coverage &&
        melos run coverage_badge
      description: Run test and update the coverage badge
